<header class="masthead">
  <h1><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
  <p>I'm a user experience designer based out of Chattanooga, TN. My expertise  and interests sit at the intersection of digital product design, design systems, and product strategy.</p>
  <p>I send out an occasional newsletter that supplements the writing here and covers a more eclectic mix of observations and thoughts.</p>
  <p><a href="https://buttondown.email/jstnkrpp">Sign up here</a>.</p>
</header>
