<header class="masthead">
  <h1><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
  <p>Justin is a user experience designer based out of Chattanooga, TN. His expertise and interests sit at the intersection of digital product design, design systems, and product strategy. His research explores how traditional principles of graphic design can be leveraged to create unique digital experiences without the pretense.</p>

  <p>He has led interactive and identity projects for clients in the education, non-profit, architecture, and cultural sectors. Previous client engagements have included Coca-Cola, UPS, The International Olympic Committee, Johns Hopkins, Tufts University, ActionWhere, ServisFirt Bank, GlobalPost, and others...</p>

  <p>He studied graphic design at the Maryland Institute College of Art, graduating in 2010 with an MFA in graphic design.</p>

  <p>I send out an occasional newsletter that supplements the writing here and covers a more eclectic mix of observations and thoughts.</p>
  
  <p><a href="https://buttondown.email/jstnkrpp">Sign up here</a>.</p>
</header>
