<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top">
    <div class="inprogress">
        <p><strong>Note:</strong> This site is undergoing a live redesign. Please excuse any bugs.</p>
    </div>
    <div class="wrapper">
      <div class="container">

        <header role="banner">
          {% include header.html %}
        </header>

        <main>
          {{ content }}
        </main>

        <footer role="footer">
          {% include footer.html %}
        </footer>

      </div>
    </div>

    {% include ga.html %}
  </body>
</html>
